<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Explorer</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Explorer.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="dist/themes/default/style.min.css" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <link rel="stylesheet" href="dist/themes/proton/style.min.css" />
</head>
<body style="height:100%;">

    <nav class="navbar sticky-top p-3 border" style="background-color: white; ">
        <form class="container-fluid justify-content-start">
            <button class="btn btn-outline-primary me-3" type="button" id="ButtonAddFolder">Создать папку</button>
            <button class="btn btn-outline-primary me-3" type="button" id="ButtonAddFile">Загрузить файл</button>
            <button class="btn btn-outline-primary me-3" type="button" id="ButtonAddType">Добавить расширение</button>
            <button class="btn btn-outline-primary me-3" type="button" id="ButtonDeleteType">Удалить расширение</button>
        </form>
    </nav>

    <div class="container-fluid" style="height:100%;">
        <main role="main">
            @RenderBody()
        </main>
    </div>

 
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/dist/jstree.min.js"></script>
    <script src="dist/libs/jquery.js"></script>
    <script src="dist/jstree.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    
    @await RenderSectionAsync("Scripts", required: false)


</body>
</html>
