USE [master]
GO
/****** Object:  Database [Explorer]    Script Date: 02.11.2022 21:35:24 ******/
CREATE DATABASE [Explorer]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Explorer', FILENAME = N'F:\Programs\SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Explorer.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Explorer_log', FILENAME = N'F:\Programs\SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Explorer_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Explorer].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Explorer]
GO
USE [Explorer]
GO
/****** Object:  Table [dbo].[File]    Script Date: 02.11.2022 21:35:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[File](
	[IdFile] [int] IDENTITY(1,1) NOT NULL,
	[NameFile] [nvarchar](50) NOT NULL,
	[DescriptionFile] [nvarchar](50) NOT NULL,
	[IdType] [int] NOT NULL,
	[IdFolder] [int] NOT NULL,
	[ContentFile] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdFile] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Folder]    Script Date: 02.11.2022 21:35:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Folder](
	[IdFolder] [int] IDENTITY(1,1) NOT NULL,
	[NameFolder] [nvarchar](50) NOT NULL,
	[IdParentFolder] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdFolder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeFile]    Script Date: 02.11.2022 21:35:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeFile](
	[IdType] [int] IDENTITY(1,1) NOT NULL,
	[NameType] [nvarchar](50) NOT NULL,
	[Icon] [varbinary](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[File] ON 

SET IDENTITY_INSERT [dbo].[File] OFF
GO
SET IDENTITY_INSERT [dbo].[Folder] ON 

INSERT [dbo].[Folder] ([IdFolder], [NameFolder], [IdParentFolder]) VALUES (1, N'Root', 0)
INSERT [dbo].[Folder] ([IdFolder], [NameFolder], [IdParentFolder]) VALUES (2026, N'Проект_1', 1)
INSERT [dbo].[Folder] ([IdFolder], [NameFolder], [IdParentFolder]) VALUES (2072, N'bin', 2026)
SET IDENTITY_INSERT [dbo].[Folder] OFF
GO
SET IDENTITY_INSERT [dbo].[TypeFile] ON 

SET IDENTITY_INSERT [dbo].[TypeFile] OFF
GO
ALTER TABLE [dbo].[File]  WITH CHECK ADD  CONSTRAINT [FK_File_File] FOREIGN KEY([IdFile])
REFERENCES [dbo].[File] ([IdFile])
GO
ALTER TABLE [dbo].[File] CHECK CONSTRAINT [FK_File_File]
GO
ALTER TABLE [dbo].[File]  WITH CHECK ADD  CONSTRAINT [FK_Folder_File] FOREIGN KEY([IdFolder])
REFERENCES [dbo].[Folder] ([IdFolder])
GO
ALTER TABLE [dbo].[File] CHECK CONSTRAINT [FK_Folder_File]
GO
USE [master]
GO
