@{
    ViewData["Title"] = "Home Page";
}

<div class="row gx-2">
    <div class="col-3 h-100" >
        <div id='treeview' class="p-3 mt-2 border" style="background-color:white; height:100vh;"></div>
      
        </div>

    <div class="col-9 h-100" >
        <div class="p-3 mt-2 border" style="background-color:white; height:100vh;">
        <ul class="nav nav-tabs" id="myTab" role="tablist">

        </ul>
        <div class="tab-content" id="myTabContent">
        </div>
        </div>
        </div>

</div>

<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content p-3" id="ModelContentForPartial">
            @await Html.PartialAsync("ModalAddType")
            @await Html.PartialAsync("ModalAddFile")
            @await Html.PartialAsync("ModalAddFolder")
        </div>
    </div>
</div>







