@model IEnumerable<Explorer.Domain.Entity.TypeFile>;

<div id="ContentModalDeleteType">
<div class="modal-header">
    <h1 class="modal-title fs-5" id="modalLabel">Выберите расширение для удаления</h1>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
    <form id="form" name="form" action="/TypeFile/DeleteTypeFile" enctype="multipart/form-data" method="post">
    <div class="modal-body">

        <select id="selectType" class="form-select" aria-label="select">
            <option selected>Выберите расширение для удаления</option>
                @foreach (Explorer.Domain.Entity.TypeFile type in Model)
                {
                    <option value="@type.IdType">@type.NameType</option>
                }
            
        </select>

            <div class="alert alert-warning mt-3" role="alert">
                При удалении расширения файлы с указанным расширением будут удалены.
            </div>

    </div>
</form>
<div class="modal-footer">
        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" id="deleteTypeBtn" onclick="deleteType()">Удалить расширение</button>
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
</div>
</div>

<script>

    function deleteType() {

        let select = document.getElementById("selectType");
        var value = select.value;
        let Del = function () {
            $.ajax({
                url: '/TypeFile/DeleteTypeFile',
                type: 'POST',
                data: { id: value },
                success: function (result) {
                    console.log("Удалено")

                }
            });
        }

            $.ajax({
            url: "/File/GetFiles",
            type: 'GET',
            success: function (result) {
                result.forEach(e => {
                    console.log(e)
                    if (e.IdType == value){
                        console.log(e.IdType)
                        $.ajax({
                            url: "/File/DeleteFile",
                            type: 'POST',
                            data: { id: e.IdFile },
                            success: function (result) {
                               
                            }
                        });
                    }
                    console.log("Успех")
                    console.log(value)
                    
                })
                setTimeout(Del, 1000);

                $('#treeview').jstree(true).refresh(true);
            }
            
        });

       

           

       

    }
</script>