<div id="ContentModalAddType">
<div class="modal-header">
    <h1 class="modal-title fs-5" id="modalLabel">Добавить расширение</h1>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<form id="form" name="form" action="/TypeFile/SaveType" enctype="multipart/form-data" method="post">
    <div class="modal-body">
        <p>
            <label>Название расширения</label>
            <input id="NameType" name="NameType" class="form-control" />
        </p>

        <p>
            <label>Иконка</label>
            <input id="icons" name="icons" type="file" size="1" multiple class="form-control" />
        </p>

            <div class="alert alert-warning" role="alert">
                Рекомендуемый размер иконки: 24х24.
            </div>

    </div>
</form>
<div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="addTypeBtn" onclick="addType()">Добавить расширение</button>
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
</div>
</div>

<script>

    function addType() {
        
        let NameType = $('input#NameType').val();

        $.ajax({
            url: '/TypeFile/GetTypesFiles',
            type: 'GET',
            success: function (result) {
                console.log(result);
                let fl = false;
                result.forEach(function (el) {
                    if (el.NameType == NameType) fl = true;
                })
                if (fl == true) {
                    alert("Такое расширение уже есть");
                    return;
                }
                else {
                    var input = document.getElementById('icons');
                    console.log(input)
                    var icons = input.files;
                    var formData = new FormData();
                    console.log(icons)
                    for (var i = 0; i != icons.length; i++) {
                        formData.append("icons", icons[i]);
                    }

                    formData.append("NameType", NameType);
                    console.log(NameType)

                    $.ajax({
                        url: '/TypeFile/SaveType',
                        type: 'POST',
                        data: formData,
                        processData: false,  // tell jQuery not to process the data
                        contentType: false,  // tell jQuery not to set contentType
                        success: function (result) {
                            console.log("ICON")
                        }
                    });
                }
            }
        });

       
    }

</script>