

<div id="ContentModalAddFile">
<div class="modal-header">
    <h1 class="modal-title fs-5" id="modalLabel">Выберите файл для загрузки</h1>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<form id="form" name="form" action="/File/SaveFile" enctype="multipart/form-data" method="post">
    <div class="modal-body">
        <p>
            <label>Файл</label>
            <input id="files" name="files" type="file" size="1" multiple class="form-control" />
        </p>
        <p>
            <label>Описание файла</label>
            <input id="DescriptionFile" name="DescriptionFile" class="form-control" />
        </p>
            <div class="alert alert-warning" role="alert" id="alertAddFile">
                Файл будет загружен в корневой каталог.
                Для загрузки файла внутрь папки используйте контекстное меню дерева.
            </div>

    </div>
</form>
<div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="addFileBtn" onclick="addFile()">Загрузить файл</button>
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
</div>
</div>

<script>

    function addFile() {

        var input = document.getElementById('files');
        var files = input.files;
        var formData = new FormData();

        for (var i = 0; i != files.length; i++) {
            formData.append("files", files[i]);
        }

        let DescriptionFile = $('input#DescriptionFile').val();

        formData.append("DescriptionFile", DescriptionFile);
        let IdFolder = $('#ContentModalAddFile').data("IdFolder");

        if (IdFolder == 0) {

            let IdFolder = 1;
         
            formData.append("IdFolder", IdFolder);

            $.ajax({
                url: '/File/CreateFile',
                type: 'POST',
                data: formData,
                processData: false,  // tell jQuery not to process the data
                contentType: false,  // tell jQuery not to set contentType
                success: function (result) {
                    console.log(result)
 

                    $('#treeview').jstree(true).refresh(false, true);
                },
                error: function (response) {
                    alert("Расширение загружаемого файла не найдено или данный файл уже загружен");
                }
            });
        }
        else{

            formData.append("IdFolder", IdFolder);

                $.ajax({
                    url: '/File/CreateFile',
                    type: 'POST',
                    data: formData,
                    processData: false,  // tell jQuery not to process the data
                    contentType: false,  // tell jQuery not to set contentType
                    success: function (result) {
                    console.log(result)
                    $('#treeview').jstree(true).refresh(true);
                    },
                    error: function (response) {
                    alert("Расширение загружаемого файла не найдено или данный файл уже загружен");
                    }
                });

        }
        

        }

</script>